@charset "UTF-8";
html {
  font-size: 62.5%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Monospace";
  color: white;
  transition: 0.2s;
}

.banner {
  width: 100%;
  height: 150px;
  background-image: url("../img/navbackground2.png");
  background-size: cover;
}
.banner h2 {
  display: flex;
  align-items: center;
  float: left;
  width: 15%;
  font-size: 3rem;
  margin: 0;
  color: white;
  height: 50px;
  padding: 10px 0 10px 10px;
}
.banner .navButtonsDiv {
  width: 80%;
  height: 50px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 10px 0;
}
.banner .navButtonsDiv .navBtn {
  color: #E0E0E0;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0 5px 0 5px;
}
.banner .navButtonsDiv .contactBtn {
  background-color: #FFFF00;
  color: #262B2F;
  border: 2px solid #262B2F;
  border-radius: 15px;
  width: 90px;
  height: 50px;
  font-size: 1.5rem;
}
.banner .navButtonsDiv .contactBtn:hover {
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.3);
}
.banner .navButtonsDiv .contactBtn:active {
  opacity: 0.4;
}

.container {
  background-color: #262B2F;
}
.container .wrapper {
  width: 80%;
  margin: 0 auto;
  height: 300px;
  padding-top: 100px;
}
.container .wrapper .contactPopUp {
  display: none;
  width: 49.5%;
  float: right;
}
.container .wrapper .contactPopUp-header {
  text-align: center;
  background-color: #FFFF00;
  border-radius: 5px 5px 0 0;
}
.container .wrapper .contactPopUp-header h2 {
  margin: 0;
  font-size: 1.5rem;
  font-family: "Verdana";
  color: #262B2F;
}
.container .wrapper .contactPopUp-body {
  padding: 5px;
  font-size: 1rem;
  background-color: #404040;
  border-radius: 0 0 5px 5px;
}
.container .wrapper .contactPopUp-body p {
  font-family: "Trebuchet MS";
  text-align: center;
}
.container .wrapper .contactPopUp-body h3 {
  font-size: 1rem;
  text-decoration: none;
}
.container .wrapper .info {
  width: 49.5%;
  float: left;
}
.container .wrapper .info-name h1 {
  margin: 0;
  letter-spacing: 5px;
  font-family: "Trebuchet MS";
}
.container .wrapper .info-specialization {
  letter-spacing: 2px;
  font-family: "Verdana";
}
.container .wrapper .info-about {
  font-size: 1rem;
  line-height: 15px;
}
.container .expandedSections .learningMap {
  width: 100%;
}
.container .expandedSections .learningMap .header {
  background-color: #FFFF00;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .expandedSections .learningMap .header h2 {
  color: #262B2F;
  margin: 0;
  font-size: 2rem;
  font-family: "Trebuchet MS";
}
.container .expandedSections .learningMap-body {
  display: none;
  align-items: center;
  font-size: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #CCCC00;
  height: 100px;
}
.container .expandedSections .learningMap-body img {
  width: 40px;
}
.container .expandedSections .about {
  width: 100%;
}
.container .expandedSections .about .header {
  background-color: #FFFF00;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .expandedSections .about .header h2 {
  color: #262B2F;
  margin: 0;
  font-size: 2rem;
  font-family: "Trebuchet MS";
}
.container .expandedSections .about-body {
  display: none;
  align-items: center;
  font-size: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #CCCC00;
  height: 150px;
}
.container .expandedSections .about-body p {
  font-size: 1.2rem;
  margin: 0;
  padding: 5px;
  font-family: "Trebuchet MS";
  text-align: center;
}
.container .projects {
  width: 100%;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.container .projects .project {
  margin: 5%;
  width: 35%;
  height: 175px;
  padding: 5px;
}
.container .projects .project h3 {
  text-align: center;
  margin: 0;
  background-color: #FFFF00;
  color: #262B2F;
  border-radius: 10px 10px 0 0;
  padding: 5px 0 5px 0;
}
.container .projects .project-body {
  background-color: #101010;
  padding: 5px;
  border-radius: 0 0 5px 5px;
}
.container .projects .project-body img {
  width: 100%;
}
.container .projects .project-body p {
  width: 100%;
  margin: 0;
  font-family: "Trebuchet MS";
  text-align: center;
}
.container .projects .project-body h3 {
  text-align: center;
  font-family: "Verdana";
}

@media only screen and (min-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    font-family: "Monospace";
    color: white;
    transition: 0.2s;
  }
  .banner {
    width: 100%;
    height: 200px;
    background-image: url("../img/navbackground2.png");
    background-size: cover;
  }
  .banner h2 {
    display: flex;
    align-items: center;
    float: left;
    width: 15%;
    font-size: 4.5rem;
    margin: 0;
    color: white;
    height: 70px;
    padding: 20px 0 20px 20px;
  }
  .banner .navButtonsDiv {
    width: 60%;
    height: 70px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 30px;
  }
  .banner .navButtonsDiv .navBtn {
    color: #E0E0E0;
    text-decoration: none;
    font-size: 2rem;
    margin: 0 5px 0 5px;
  }
  .banner .navButtonsDiv .contactBtn {
    background-color: #FFFF00;
    color: #262B2F;
    border: 2px solid #262B2F;
    border-radius: 15px;
    width: 110px;
    height: 50px;
    font-size: 2rem;
  }
  .banner .navButtonsDiv .contactBtn:hover {
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.3);
  }
  .banner .navButtonsDiv .contactBtn:active {
    opacity: 0.4;
  }
  .container {
    background-color: #262B2F;
  }
  .container .wrapper {
    width: 80%;
    margin: 0 auto;
    height: 300px;
    padding-top: 150px;
  }
  .container .wrapper .contactPopUp {
    width: 49.5%;
    float: right;
  }
  .container .wrapper .contactPopUp-header {
    text-align: center;
    background-color: #FFFF00;
    border-radius: 5px 5px 0 0;
    color: #262B2F;
  }
  .container .wrapper .contactPopUp-header h2 {
    margin: 0;
    font-size: 2rem;
    font-family: "Verdana";
  }
  .container .wrapper .contactPopUp-body {
    padding: 5px;
    font-size: 1.5rem;
    background-color: #404040;
    border-radius: 0 0 5px 5px;
  }
  .container .wrapper .contactPopUp-body p {
    font-family: "Trebuchet MS";
    text-align: center;
  }
  .container .wrapper .contactPopUp-body h3 {
    font-size: 1.5rem;
    text-decoration: none;
  }
  .container .wrapper .info {
    width: 49.5%;
    float: left;
  }
  .container .wrapper .info-name h1 {
    margin: 0;
    letter-spacing: 5px;
    font-family: "Trebuchet MS";
    font-size: 2rem;
  }
  .container .wrapper .info-specialization {
    letter-spacing: 2px;
    font-family: "Verdana";
    font-size: 1.2rem;
  }
  .container .wrapper .info-about {
    font-size: 1.5rem;
    line-height: 15px;
  }
  .container .expandedSections .learningMap {
    width: 100%;
  }
  .container .expandedSections .learningMap .header {
    background-color: #FFFF00;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .expandedSections .learningMap .header h2 {
    color: #262B2F;
    margin: 0;
    font-size: 2.5rem;
    font-family: "Trebuchet MS";
    color: #262B2F;
  }
  .container .expandedSections .learningMap-body {
    display: none;
    align-items: center;
    font-size: 2.5rem;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #CCCC00;
    height: 200px;
  }
  .container .expandedSections .learningMap-body img {
    width: 60px;
  }
  .container .expandedSections .about {
    width: 100%;
  }
  .container .expandedSections .about .header {
    background-color: #FFFF00;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .expandedSections .about .header h2 {
    color: #262B2F;
    margin: 0;
    font-size: 2.5rem;
    font-family: "Trebuchet MS";
  }
  .container .expandedSections .about-body {
    display: none;
    align-items: center;
    font-size: 2.5rem;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #CCCC00;
    height: 200px;
  }
  .container .expandedSections .about-body p {
    font-size: 1.2rem;
    margin: 0;
    padding: 5px;
    font-family: "Trebuchet MS";
    font-size: 1.5rem;
  }
  .container .projects {
    width: 100%;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .container .projects .project {
    margin: 5%;
    width: 35%;
    height: 225px;
    padding: 5px;
  }
  .container .projects .project h3 {
    text-align: center;
    margin: 0;
    background-color: #FFFF00;
    color: #262B2F;
    border-radius: 10px 10px 0 0;
    padding: 5px 0 5px 0;
    font-size: 2rem;
  }
  .container .projects .project-body {
    background-color: #101010;
    padding: 5px;
    border-radius: 0 0 5px 5px;
  }
  .container .projects .project-body img {
    width: 100%;
  }
  .container .projects .project-body p {
    width: 100%;
    margin: 0;
    font-family: "Trebuchet MS";
    text-align: center;
    font-size: 1.5rem;
  }
  .container .projects .project-body h3 {
    text-align: center;
    font-family: "Verdana";
  }
}
@media only screen and (min-width: 1000px) {
  * {
    margin: 0;
    padding: 0;
    font-family: "Monospace";
    color: white;
    transition: 0.2s;
  }
  .banner {
    width: 100%;
    height: 300px;
    background-image: url("../img/navbackground2.png");
    background-size: cover;
  }
  .banner h2 {
    display: flex;
    align-items: center;
    float: left;
    width: 15%;
    font-size: 9rem;
    margin: 0;
    color: white;
    height: 70px;
    padding: 20px 0 20px 50px;
  }
  .banner .navButtonsDiv {
    width: 60%;
    height: 70px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 30px 50px;
  }
  .banner .navButtonsDiv .navBtn {
    color: #E0E0E0;
    text-decoration: none;
    font-size: 2.5rem;
    margin: 0 15px 0 15px;
  }
  .banner .navButtonsDiv .contactBtn {
    background-color: #FFFF00;
    color: #262B2F;
    border: 2px solid #262B2F;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    font-size: 2.5rem;
  }
  .banner .navButtonsDiv .contactBtn:hover {
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.3);
  }
  .banner .navButtonsDiv .contactBtn:active {
    opacity: 0.4;
  }
  .container {
    background-color: #262B2F;
  }
  .container .wrapper {
    width: 80%;
    margin: 0 auto;
    height: 400px;
    padding-top: 225px;
  }
  .container .wrapper .contactPopUp {
    width: 40%;
    float: right;
  }
  .container .wrapper .contactPopUp-header {
    text-align: center;
    background-color: #FFFF00;
    border-radius: 10px 10px 0 0;
  }
  .container .wrapper .contactPopUp-header h2 {
    margin: 0;
    font-size: 2.5rem;
    font-family: "Verdana";
  }
  .container .wrapper .contactPopUp-body {
    padding: 5px;
    font-size: 2rem;
    background-color: #404040;
    border-radius: 0 0 5px 5px;
  }
  .container .wrapper .contactPopUp-body p {
    font-family: "Trebuchet MS";
    text-align: center;
  }
  .container .wrapper .contactPopUp-body h3 {
    font-size: 2rem;
    text-decoration: none;
  }
  .container .wrapper .info {
    width: 49.5%;
    float: left;
  }
  .container .wrapper .info-name h1 {
    margin: 0;
    letter-spacing: 5px;
    font-family: "Trebuchet MS";
    font-size: 4rem;
  }
  .container .wrapper .info-specialization {
    letter-spacing: 2px;
    font-family: "Verdana";
    font-size: 2rem;
  }
  .container .wrapper .info-about {
    font-size: 2.5rem;
    line-height: 25px;
  }
  .container .expandedSections .learningMap {
    width: 100%;
  }
  .container .expandedSections .learningMap .header {
    background-color: #FFFF00;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .expandedSections .learningMap .header h2 {
    color: #262B2F;
    margin: 0;
    font-size: 3rem;
    font-family: "Trebuchet MS";
  }
  .container .expandedSections .learningMap .header:hover {
    cursor: pointer;
  }
  .container .expandedSections .learningMap-body {
    display: none;
    align-items: center;
    font-size: 2.5rem;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #CCCC00;
    height: 200px;
  }
  .container .expandedSections .learningMap-body img {
    width: 100px;
  }
  .container .expandedSections .about {
    width: 100%;
  }
  .container .expandedSections .about .header {
    background-color: #FFFF00;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .expandedSections .about .header h2 {
    color: #262B2F;
    margin: 0;
    font-size: 3rem;
    font-family: "Trebuchet MS";
  }
  .container .expandedSections .about .header:hover {
    cursor: pointer;
  }
  .container .expandedSections .about-body {
    display: none;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #CCCC00;
    height: 250px;
  }
  .container .expandedSections .about-body p {
    font-size: 1.2rem;
    margin: 0;
    padding: 5px;
    font-family: "Trebuchet MS";
    font-size: 2.5rem;
    text-align: center;
  }
  .container .projects {
    width: 100%;
    height: 1450px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .container .projects .project {
    margin: 5%;
    width: 35%;
    height: 250px;
    padding: 10px;
  }
  .container .projects .project h3 {
    text-align: center;
    margin: 0;
    background-color: #FFFF00;
    color: #262B2F;
    border-radius: 10px 10px 0 0;
    padding: 5px 0 5px 0;
    font-size: 2.5rem;
  }
  .container .projects .project-body {
    background-color: #101010;
    padding: 10px;
    border-radius: 0 0 10px 10px;
  }
  .container .projects .project-body img {
    width: 100%;
  }
  .container .projects .project-body p {
    width: 100%;
    margin: 0;
    font-family: "Trebuchet MS";
    text-align: center;
    font-size: 2.5rem;
  }
  .container .projects .project-body h3 {
    text-align: center;
    font-family: "Verdana";
  }
}

/*# sourceMappingURL=style.css.map */
