@import './normalize.scss';

$font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$helvetica: Helvetica, sans-serif;

$dark-gray: gray;
$light-gray: lightgray;

* {
    box-sizing: border-box;
    font-family: $helvetica;
}

h1 {
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
}

.container {
    width: 100%;
    height: 100%;
    background: linear-gradient(#e66465, #9198e5);
}

.wrapper {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.login {
    width: 60%;
    height: 80%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 30px;
    padding-top: 30px;

    .label {
        position: relative;
        left: 20%;
        transform: translateX(20%);
        display: block;
        font-size: 40px;
        font-family: $font;
        font-weight: 0;
        letter-spacing: 2px;
        
        &:hover {
            cursor: default;
        }
    }

    &__inputs {
        position: absolute;
        width: 100%;
        margin-top: 80px;
        left: 8%;
    }

    label {
        color: $dark-gray;

        &:after {
            content: "";
            display: block;
            height: 1px;
            width: 80%;
            background-color: $light-gray;
            margin-top: 10px;
        }
    }

    &__username, &__password {
        color: $dark-gray;
        font-family: $helvetica;
        width: 80%;
        border: none;
        display: block;
        position: relative;
        margin-top: 20px;
        height: 100px;
        font-size: 25px;

        &:focus {
            outline: 1px;
        }
    }

    

    &__loginButton {
        position: absolute;
        margin-top: 100px;
        width: 50%;
        height: 20%;
        left: 15%;
        font-family: $helvetica;
        border-radius: 20px;
        border: none;
        color: white;
        background: linear-gradient(#e66465, #9198e5);
        transition: opacity 0.2s;

        &:hover {
            opacity: 0.7;
        }

        &:active {
            opacity: 0.4;
        }
    }
}