$green: rgb(0, 153, 0);
$lightgreen: rgb(0, 255, 0);
$darkgreen: rgb(0, 102, 0);

$red: rgb(255, 0, 0);
$lightred: rgb(255, 102, 102);
$darkred: rgb(153, 0, 0);

$blue: rgb(0, 0, 255);
$lightblue: rgb(51, 153, 255);
$darkblue: rgb(0, 0, 153);

$gray: rgb(96, 96, 96);
$lightgray: rgb(160, 160, 160);
$verylightgray: rgb(192, 192, 192);
$darkgray: rgb(64, 64, 64);

$green: rgb(0, 204, 0);
$lightgreen: rgb(0, 255, 0);
$darkgray: rgb(0, 102, 0);

$purple: rgb(127, 0, 255);
$lightpurple: rgb(178, 102, 255);
$darkpurple: rgb(76, 0, 153);
