@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(192, 192, 192);
}

.container {
  width: 100%;
  height: 100%;
}

.banner {
  position: absolute;
  width: 100%;
  height: 12%;
}
.banner p {
  position: absolute;
  font-size: 40px;
  font-family: "Consolas", "Consolas";
  color: white;
  left: 44%;
  display: inline-block;
}

.wrapper {
  position: relative;
  top: 12%;
  width: 1220px;
  height: 88%;
  margin: 0 auto;
}
.wrapper .builder {
  position: relative;
  width: 90%;
  height: 75%;
  background-color: white;
  left: 5%;
  top: 5%;
  border-radius: 20px;
  border: 2px solid rgb(160, 160, 160);
  overflow-y: scroll;
  padding: 2.5%;
  margin-bottom: 50px;
}
.wrapper .builder label {
  margin-top: 30px;
  display: block;
  font-family: "Garamond";
  font-size: 24px;
}
.wrapper .builder .recipent, .wrapper .builder .body, .wrapper .builder .signature {
  width: 100%;
}
.wrapper .builder input[type=text] {
  width: 97.5%;
  margin-bottom: 20px;
  height: 50px;
  padding: 10px;
  border: 3px dashed rgb(160, 160, 160);
  font-size: 24px;
  font-family: "Garamond";
}
.wrapper .builder input[type=text]:hover {
  border: 3px dashed rgb(153, 0, 0);
  box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.3);
}
.wrapper .builder input[type=text]:focus {
  outline: none;
  border: 3px dashed rgb(255, 0, 0);
}
.wrapper .builder textarea {
  max-width: 97.5%;
  min-width: 97.5%;
  width: 97.5%;
  height: 100px;
  min-height: 100px;
  max-height: 400px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 20px;
  font-family: "Garamond";
  border: 3px dashed rgb(160, 160, 160);
}
.wrapper .builder textarea:hover {
  border: 3px dashed rgb(153, 0, 0);
  box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.3);
}
.wrapper .builder textarea:focus {
  outline: none;
  border: 3px dashed rgb(255, 0, 0);
}
.wrapper .builder .body__recipents {
  margin-bottom: 50px;
  border: 2px solid rgb(192, 192, 192);
  padding: 5px;
  border-radius: 10px;
}
.wrapper .builder .body #recipents {
  font-family: "Consolas", "Consolas";
  background-color: rgb(0, 204, 0);
  padding: 15px;
  color: white;
  border: none;
  border-radius: 5px;
  transition: box-shadow 0.2s, opacity 0.2s;
}
.wrapper .builder .body #recipents:hover {
  background-color: rgb(0, 102, 0);
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
}
.wrapper .builder .body #recipents:active {
  opacity: 0.7;
}
.wrapper .builder .body__examples {
  border: 2px solid rgb(192, 192, 192);
  padding: 5px;
  border-radius: 10px;
}
.wrapper .builder .body #examples {
  background-color: rgb(127, 0, 255);
  padding: 15px;
  margin-bottom: 5px;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: "Consolas", "Consolas";
  transition: box-shadow 0.2s, opacity 0.2s;
}
.wrapper .builder .body #examples:hover {
  background-color: rgb(76, 0, 153);
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
}
.wrapper .builder .body #examples:active {
  opacity: 0.7;
}
.wrapper .builder .body__endings {
  margin-bottom: 50px;
  border: 2px solid rgb(192, 192, 192);
  padding: 5px;
  border-radius: 10px;
}
.wrapper .builder .body #endings {
  background-color: rgb(0, 0, 255);
  padding: 15px;
  margin-bottom: 5px;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: "Consolas", "Consolas";
  transition: box-shadow 0.2s, opacity 0.2s;
}
.wrapper .builder .body #endings:hover {
  background-color: rgb(0, 0, 153);
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
}
.wrapper .builder .body #endings:active {
  opacity: 0.7;
}
.wrapper .builder .body__greetings {
  border: 2px solid rgb(192, 192, 192);
  padding: 5px;
  border-radius: 10px;
}
.wrapper .builder .body #greetings {
  background-color: rgb(255, 102, 102);
  padding: 15px;
  margin-bottom: 5px;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: "Consolas", "Consolas";
  transition: box-shadow 0.2s, opacity 0.2s;
}
.wrapper .builder .body #greetings:hover {
  background-color: rgb(255, 0, 0);
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
}
.wrapper .builder .body #greetings:active {
  opacity: 0.7;
}
.wrapper .buttons {
  position: absolute;
  left: 54%;
}
.wrapper .buttons .reset, .wrapper .buttons .copy {
  width: 150px;
  height: 80px;
  line-height: 10px;
  background-color: rgb(255, 102, 102);
  border: none;
  color: white;
  font-size: 24px;
  white-space: normal;
  word-wrap: break-word;
  line-height: 25px;
}
.wrapper .buttons .copy {
  position: absolute;
  left: -120%;
}
.wrapper .generatedText {
  font-family: "Garamond";
  margin-left: 25px;
  font-size: 1px;
  transition: 0.5s;
}

/*# sourceMappingURL=style.css.map */
