@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

/* body {
    width: 100vw;
    height: 100vh;
    background-color: $verylightgray;
}

.container {
    width: 100%;
    height: 100%;
}

.banner {
    position: absolute;
    width: 100%;
    height: 12%;

    p {
        position: absolute;
        font-size: $s4;
        font-family: $f1;
        color: white;
        left: 44%;
        display: inline-block;
    }
}

.wrapper {
    position: relative;
    top: 12%;
    width: 1220px;
    height: 88%;
    //background-color: red;
    margin: 0 auto;

    .builder {
        position: relative;
        width: 90%;
        height: 75%;
        background-color: white;
        left: 5%;
        top: 5%;
        border-radius: 20px;
        border: 2px solid $lightgray;
        overflow-y:scroll;
        padding: 2.5%;
        margin-bottom: 50px;

        label {
            //margin-left: 2.5%;
            margin-top: 30px;
            display: block;
            font-family: $f2;
            font-size: $s2;
        }

        .recipent, .body, .signature {
            width: 100%;
        }

        input[type="text"] {
            width: 97.5%;
            margin-bottom: 20px;
            height: 50px;
            padding: 10px;
            border: 3px dashed $lightgray;
            font-size: $s2;
            font-family: $f2;

            &:hover {
                border: 3px dashed $darkred;
                box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.3);
            }

            &:focus {
                outline: none;
                border: 3px dashed $red;
            }
        }

        textarea {
            max-width: 97.5%;
            min-width: 97.5%;
            width: 97.5%;
            height: 100px;
            min-height: 100px;
            max-height: 400px;
            margin-bottom: 20px;
            padding: 10px;
            font-size: 20px;
            font-family: $f2;
            border: 3px dashed $lightgray;

            &:hover {
                border: 3px dashed $darkred;
                box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.3);
            }

            &:focus {
                outline: none;
                border: 3px dashed $red;
            }
        }

        .body {
            &__recipents {
                margin-bottom: 50px;
                border: 2px solid $verylightgray;
                padding: 5px;
                border-radius: 10px;
            }

            #recipents {
                font-family: $f1;
                background-color: $green;
                padding: 15px;
                color: white;
                border: none;
                border-radius: 5px;
                transition: box-shadow 0.2s, opacity 0.2s;

                &:hover {
                    background-color: $darkgreen;
                    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
                }

                &:active {
                    opacity: 0.7;
                }
            }

            &__examples {
                border: 2px solid $verylightgray;
                padding: 5px;
                border-radius: 10px;
            }

            #examples {
                background-color: $purple;
                padding: 15px;
                margin-bottom: 5px;
                color: white;
                border: none;
                border-radius: 5px;
                font-family: $f1;
                transition: box-shadow 0.2s, opacity 0.2s;

                &:hover {
                    background-color: $darkpurple;
                    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
                }

                &:active {
                    opacity: 0.7;
                }
            }

            &__endings {
                margin-bottom: 50px;
                border: 2px solid $verylightgray;
                padding: 5px;
                border-radius: 10px;
            }

            #endings {
                background-color: $blue;
                padding: 15px;
                margin-bottom: 5px;
                color: white;
                border: none;
                border-radius: 5px;
                font-family: $f1;
                transition: box-shadow 0.2s, opacity 0.2s;

                &:hover {
                    background-color: $darkblue;
                    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
                }

                &:active {
                    opacity: 0.7;
                }
            }

            &__greetings {
                border: 2px solid $verylightgray;
                padding: 5px;
                border-radius: 10px;
            }

            #greetings {
                background-color: $lightred;
                padding: 15px;
                margin-bottom: 5px;
                color: white;
                border: none;
                border-radius: 5px;
                font-family: $f1;
                transition: box-shadow 0.2s, opacity 0.2s;

                &:hover {
                    background-color: $red;
                    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
                }

                &:active {
                    opacity: 0.7;
                }
            }
        }
    }

    .buttons {
        position: absolute;
        left: 54%;

        .reset, .copy {
            width: 150px;
            height: 80px;
            line-height: 10px;
            background-color: $lightred;
            border: none;
            color: white;
            font-size: $s2;
            white-space: normal; 
            word-wrap: break-word;
            line-height: 25px;
        }

        .copy {
            position: absolute;
            left: -120%;
        }
    }

    .generatedText {
        font-family: $f2;
        margin-left: 25px;
        font-size: 1px;
        transition: 0.5s;
    }
} */
html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(192, 192, 192);
  overflow: hidden;
}

#container {
  width: 100%;
  height: 100%;
}
#container #banner {
  width: 100%;
  height: 10%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container #banner h1 {
  font-size: 2.5rem;
  margin: 0;
  font-family: "Consolas", "Consolas";
  color: white;
}
#container #wrapper {
  width: 80%;
  height: 90%;
  margin: 0 auto;
  padding-top: 50px;
}
#container #builder {
  width: 100%;
  overflow: auto;
  padding: 15px 5px 15px 5px;
  height: 50%;
  background-color: white;
  border-radius: 10px;
}
#container #builder label {
  display: block;
  font-size: 1.5rem;
  font-family: "Garamond";
  height: 30%;
}
#container #builder #recipent, #container #builder #subject, #container #builder #signature {
  width: 100%;
  height: 20%;
  margin-top: 10px;
}
#container #builder input[type=text] {
  width: 100%;
  padding-left: 5px;
  height: 60%;
  border: 2px dashed rgb(160, 160, 160);
  transition: 0.2s;
  font-size: 1.5rem;
  font-family: "Garamond";
}
#container #builder input[type=text]:focus {
  outline: none;
  border: 2px dashed rgb(255, 0, 0);
}
#container #builder #body__recipents, #container #builder #body__examples, #container #builder #body__endings, #container #builder #body__greetings {
  width: 100%;
  padding: 3px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 5px;
  margin-bottom: 10px;
}
#container #builder #body .recipents, #container #builder #body .examples, #container #builder #body .endings, #container #builder #body .greetings {
  margin: 1px;
  border: none;
  color: white;
  padding: 5px;
  font-family: "Consolas", "Consolas";
  font-size: 1rem;
  border-radius: 5px;
  transition: opacity 0.3s, box-shadow 0.3s, background-color 0.3s;
}
#container #builder #body .recipents:active, #container #builder #body .examples:active, #container #builder #body .endings:active, #container #builder #body .greetings:active {
  opacity: 0.7;
}
#container #builder #body .recipents {
  background-color: rgb(0, 204, 0);
}
#container #builder #body .examples {
  background-color: rgb(127, 0, 255);
}
#container #builder #body__input {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  max-height: 150px;
  min-height: 50px;
  height: 50px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 1.4rem;
  font-family: "Garamond";
  border: 2px dashed rgb(160, 160, 160);
  transition: border 0.2s;
}
#container #builder #body__input:focus {
  outline: none;
  border: 2px dashed rgb(255, 0, 0);
}
#container #builder #body .endings {
  background-color: rgb(0, 0, 255);
}
#container #builder #body .greetings {
  background-color: rgb(255, 102, 102);
}
#container #buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
}
#container #buttons input[type=button] {
  padding: 5px;
  margin: 5px;
  height: 50%;
  width: 50%;
  border: none;
  color: white;
  background-color: rgb(255, 102, 102);
  font-size: 1.5rem;
  border-radius: 5px;
  transition: 0.3s;
}
#container #buttons input[type=button]:active {
  opacity: 0.7;
}
#container .generatedText {
  font-family: "Garamond";
  margin-left: 10px;
  transition: 0.5s;
}

@media only screen and (min-width: 768px) {
  #container #banner {
    margin-bottom: 30px;
  }
  #container #banner h1 {
    font-size: 3rem;
  }
  #container #builder {
    padding: 20px 7.5px 20px 7.5px;
  }
  #container #builder #recipent, #container #builder #subject, #container #builder #signature {
    margin-top: 15px;
  }
  #container #builder input[type=text] {
    padding-left: 10px;
    font-size: 2rem;
  }
  #container #builder #body__recipents, #container #builder #body__examples, #container #builder #body__endings, #container #builder #body__greetings {
    padding: 5px;
    margin-bottom: 15px;
  }
  #container #builder #body .recipents, #container #builder #body .examples, #container #builder #body .endings, #container #builder #body .greetings {
    padding: 10px;
  }
  #container #builder #body__input {
    max-height: 175x;
    min-height: 75px;
    height: 75px;
    font-size: 1.7rem;
  }
  #container #buttons input[type=button] {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1000px) and (min-width: 768px) {
  #container #banner {
    margin-bottom: 50px;
  }
  #container #banner h1 {
    font-size: 4rem;
  }
  #container #builder {
    padding: 30px 10px 30px 10px;
    height: 75%;
  }
  #container #builder label {
    font-size: 2.5rem;
  }
  #container #builder #recipent, #container #builder #subject, #container #builder #signature {
    margin-top: 25px;
  }
  #container #builder input[type=text] {
    padding-left: 15px;
    font-size: 2.5rem;
    transition: border 0.3s, box-shadow 0.3s;
  }
  #container #builder input[type=text]:hover {
    border: 2px dashed rgb(153, 0, 0);
    box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.3);
  }
  #container #builder #body__recipents, #container #builder #body__examples, #container #builder #body__endings, #container #builder #body__greetings {
    padding: 20px;
    margin-bottom: 20px;
  }
  #container #builder #body .recipents, #container #builder #body .examples, #container #builder #body .endings, #container #builder #body .greetings {
    padding: 10px;
    font-size: 1.5rem;
  }
  #container #builder #body .recipents:hover, #container #builder #body .examples:hover, #container #builder #body .endings:hover, #container #builder #body .greetings:hover {
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
  }
  #container #builder #body .recipents:hover {
    background-color: rgb(0, 102, 0);
  }
  #container #builder #body .examples:hover {
    background-color: rgb(76, 0, 153);
  }
  #container #builder #body .endings:hover {
    background-color: rgb(0, 0, 153);
  }
  #container #builder #body .greetings:hover {
    background-color: rgb(255, 0, 0);
  }
  #container #builder #body__input {
    max-height: 175x;
    min-height: 75px;
    height: 75px;
    font-size: 2rem;
    padding: 15px;
  }
  #container #builder #body__input:hover {
    border: 2px dashed rgb(153, 0, 0);
    box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.3);
  }
  #container #buttons {
    width: 100%;
    height: 10%;
  }
  #container #buttons input[type=button] {
    font-size: 2rem;
    width: 25%;
  }
  #container #buttons input[type=button]:active {
    opacity: 0.7;
  }
  #container #buttons input[type=button]:hover {
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.4);
  }
}

/*# sourceMappingURL=style.css.map */
