$yellow: #FFFF00;
$lightyellow: #FFFF66;
$darkyellow: #CCCC00;
$gold: #999900;

$dark: #202020;
$lightdark: #404040;
$verydark: #101010;
$charcoal: #262B2F;

$lightgray: #E0E0E0;

$purple: #7F00FF;
$lightpurple: #9933FF;
$darkpurple: #4C0099;

$navy: #9999FF;
$darkblue: #0000FF;
$lightblue: #3399FF;
