$lightgreen: rgb(0, 204, 102);
$verylightgreen: rgb(0, 255, 0);
$green: rgb(0, 153, 0);
$darkgreen: rgb(0, 102, 0);

$lightgray: rgb(192, 192, 192);
$verylightgray: rgb(224, 224, 224);
$gray: rgb(128, 128, 128);
$darkgray: rgb(96, 96, 96);
$verydarkgray: rgb(48, 48, 48);
$softgray: rgb(32, 32, 32);

$lightblue: rgb(51, 153, 255);
$verylightblue: rgb(153, 204, 255);
$blue: rgb(0, 102, 204);
$darkblue: rgb(0, 0, 255);
