$f1: Georgia, serif;
$f2: 'Garamond';
$f3: Tahoma;
/* $s1: 16px;
$s2: 24px;
$s3: 32px;
$s4: 40px;
$s5: 48px;
$s6: 56px;
$s7: 64px; */

html {
    font-size: 62.5%;
}

$s1: 0.5rem;
$s2: 1rem;
$s3: 1.5rem;
$s4: 2rem;
$s5: 2.5rem;
$s6: 3rem;
$s7: 3.5rem;
$s8: 4rem;
$s9: 4.5rem;
$s10: 5rem;