@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

* {
  transition: 0.5s;
}

body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #fff;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0;
}

.banner {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 8%;
  background-color: #ffd665;
}
.banner .logo {
  position: absolute;
  font-size: 64px;
  color: #000000;
  left: 2%;
  text-decoration: none;
}
.banner .navigationButtons {
  position: absolute;
  width: 30%;
  height: 100%;
  left: 65%;
  top: 20%;
}
.banner .btn {
  text-decoration: none;
  color: #fff;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #6244c5;
  margin: 0 15px 0 15px;
  transition: box-shadow 0.4s;
  font-family: "DM-Sans";
}
.banner .btn:hover {
  box-shadow: 10px 10px 10px rgba(125, 93, 228, 0.3);
}
.banner .btn:active {
  opacity: 0.8;
}

.wrapper {
  position: relative;
  width: 1220px;
  height: 70%;
  margin: 0 auto;
}
.wrapper .left, .wrapper .right {
  position: absolute;
  width: 50%;
  height: 100%;
}
.wrapper .right {
  left: 50%;
}
.wrapper .info {
  position: absolute;
  width: 85%;
  top: 25%;
}
.wrapper .info__name {
  color: #000000;
  font-size: 52px;
  letter-spacing: 3px;
  font-family: "Leelawadee UI Semilight";
  line-height: 10px;
}
.wrapper .info__profession {
  color: #393939;
  font-size: 28px;
  font-family: "DM-Sans";
  letter-spacing: 8px;
}
.wrapper .info__desc {
  color: #8d8d8d;
  font-size: 20px;
  line-height: 30px;
  font-family: "DM-Sans";
}
.wrapper .aboutPopUp, .wrapper .contactPopUp {
  display: none;
  position: absolute;
  width: 75%;
  height: 50%;
  left: 70%;
  top: 25%;
  transform: translate(-25%, -25%);
}
.wrapper .aboutPopUp .aboutHeader, .wrapper .aboutPopUp .contactHeader, .wrapper .contactPopUp .aboutHeader, .wrapper .contactPopUp .contactHeader {
  position: relative;
  background-color: #7d5de4;
  width: 100%;
  height: 15%;
  color: white;
  border-radius: 30px 30px 0 0;
}
.wrapper .aboutPopUp .aboutHeader .aboutCap, .wrapper .aboutPopUp .aboutHeader .contactCap, .wrapper .aboutPopUp .contactHeader .aboutCap, .wrapper .aboutPopUp .contactHeader .contactCap, .wrapper .contactPopUp .aboutHeader .aboutCap, .wrapper .contactPopUp .aboutHeader .contactCap, .wrapper .contactPopUp .contactHeader .aboutCap, .wrapper .contactPopUp .contactHeader .contactCap {
  position: relative;
  left: 40%;
  font-size: 36px;
  font-family: "DM-Sans";
}
.wrapper .aboutPopUp .aboutHeader .aboutCloseWindow, .wrapper .aboutPopUp .aboutHeader .contactCloseWindow, .wrapper .aboutPopUp .contactHeader .aboutCloseWindow, .wrapper .aboutPopUp .contactHeader .contactCloseWindow, .wrapper .contactPopUp .aboutHeader .aboutCloseWindow, .wrapper .contactPopUp .aboutHeader .contactCloseWindow, .wrapper .contactPopUp .contactHeader .aboutCloseWindow, .wrapper .contactPopUp .contactHeader .contactCloseWindow {
  position: absolute;
  left: 95%;
  font-size: 28px;
  color: #fff;
  top: -50%;
  transition: color 0.3s;
}
.wrapper .aboutPopUp .aboutHeader .aboutCloseWindow:hover, .wrapper .aboutPopUp .aboutHeader .contactCloseWindow:hover, .wrapper .aboutPopUp .contactHeader .aboutCloseWindow:hover, .wrapper .aboutPopUp .contactHeader .contactCloseWindow:hover, .wrapper .contactPopUp .aboutHeader .aboutCloseWindow:hover, .wrapper .contactPopUp .aboutHeader .contactCloseWindow:hover, .wrapper .contactPopUp .contactHeader .aboutCloseWindow:hover, .wrapper .contactPopUp .contactHeader .contactCloseWindow:hover {
  cursor: pointer;
  color: red;
}
.wrapper .aboutPopUp .aboutBody, .wrapper .aboutPopUp .contactBody, .wrapper .contactPopUp .aboutBody, .wrapper .contactPopUp .contactBody {
  background-color: #f2eeff;
  height: 85%;
  border-radius: 0 0 30px 30px;
  color: #8d8d8d;
  font-size: 24px;
  padding: 30px;
  line-height: 30px;
  font-family: "Leelawadee UI Semilight";
}

.expandedInfo {
  position: relative;
  width: 100%;
  margin: 0;
}
.expandedInfo .exHeader {
  position: relative;
  background-color: #6244c5;
  width: 100%;
  height: 80px;
  color: #fff;
  font-family: "Leelawadee UI Semilight";
  font-size: 28px;
}
.expandedInfo .exHeader p {
  position: absolute;
  margin: 0;
}
.expandedInfo .exHeader .exCap1 {
  left: 35%;
}
.expandedInfo .exHeader .exCap2 {
  left: 37%;
}
.expandedInfo:hover {
  cursor: pointer;
}
.expandedInfo .exCap1, .expandedInfo .exCap2 {
  position: absolute;
  color: white;
  font-size: 28px;
  margin: 0;
}
.expandedInfo #exBody1, .expandedInfo #exBody2 {
  display: none;
  background-color: #7d5de4;
  margin: 0;
}
.expandedInfo #exBody1 {
  padding: 20px 0 20px 0;
}
.expandedInfo #exBody1 ul {
  margin: 0;
  list-style-type: none;
  color: white;
  font-size: 20px;
}
.expandedInfo #exBody1 ul .html::before {
  content: "";
  display: inline-block;
  height: 25px;
  margin-right: 30px;
  width: 25px;
  background-image: url("../img/html.png");
}
.expandedInfo #exBody1 ul .css::before {
  content: "";
  display: inline-block;
  height: 25px;
  margin-right: 30px;
  width: 25px;
  background-image: url("../img/css.png");
}
.expandedInfo #exBody1 ul .js::before {
  content: "";
  display: inline-block;
  height: 25px;
  margin-right: 30px;
  width: 25px;
  background-image: url("../img/js.png");
}
.expandedInfo #exBody1 ul .node::before {
  content: "";
  display: inline-block;
  height: 25px;
  margin-right: 30px;
  width: 25px;
  background-image: url("../img/node.png");
}
.expandedInfo #exBody1 ul .react::before {
  content: "";
  display: inline-block;
  height: 25px;
  margin-right: 30px;
  width: 25px;
  background-image: url("../img/react.png");
}
.expandedInfo #exBody1 ul .gulp::before {
  content: "";
  display: inline-block;
  height: 25px;
  margin-right: 30px;
  width: 25px;
  background-image: url("../img/gulp.png");
}
.expandedInfo #exBody1 ul .typescript::before {
  content: "";
  display: inline-block;
  height: 25px;
  margin-right: 30px;
  width: 25px;
  background-image: url("../img/typescript.png");
}
.expandedInfo #exBody1 ul .bootstrap::before {
  content: "";
  display: inline-block;
  height: 25px;
  margin-right: 30px;
  width: 25px;
  background-image: url("../img/bootstrap.png");
}
.expandedInfo #exBody1 ul .sass::before {
  content: "";
  display: inline-block;
  height: 25px;
  margin-right: 30px;
  width: 25px;
  background-image: url("../img/sass.png");
}
.expandedInfo #exBody2 {
  margin: 0;
  padding: 25px;
  height: 300px;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
}
.expandedInfo #exBody2 p {
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
  height: 8%;
  margin: 0;
  background-color: #ffd665;
}
footer p {
  position: absolute;
  margin: 0;
  color: #8d8d8d;
  left: 80%;
  top: 50%;
}/*# sourceMappingURL=style.css.map */
