@import "./colors.scss";
@import "./fonts.scss";
@import "./normalize.scss";

/* body {
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    background-color: $verylightblue;
}

.banner {
    position: absolute;
    top: 0%;
    bottom: 0%;
    width: 100%;
    height: 80px;
    background-color: $lightblue;

    p {
        position: absolute;
        color: white;
        font-size: $s3;
        font-family: $f2;
    }

    .caption {
        font-size: $s4;
        font-family: $f1;
        top: -30%;
        left: 10%;
        letter-spacing: 3px;

        &:hover {
            cursor: pointer;
        }
    }

    .wpm {
        left: 75%;
    }

    .hour {
        left: 85%;
    }
}

.wrapper {
    position: relative;
    margin: 0 auto;
    width: 1220px;
    height: 100%;

    .timer {
        position: absolute;
        margin: 0;
        left: 45%;
        top: 12%;
        font-size: $s4;
        color: white;
    }
    
    .randomWords {
        position: absolute;
        left: 12.5%;
        top: 20%;
        width: 75%;
        height: 45%;
        background-color: $white;
        border-radius: 15px;
        border: 5px solid $lightblue;

        &__words {
            margin: 30px 30px 30px 30px;
            font-family: $f2;
            font-size: $sWords;
            color: $black;
        }
    }

    .wordsInput {
        position: absolute;
        width: 75%;
        height: 70px;
        top: 70%;
        left: 12.5%;

        &__field {
            width: 98%;
            height: 100%;
            background-color: $white;
            border-radius: 20px;
            border: none;
            padding-left: 2%;
            font-size: $s2;
            font-family: $f1;

            &:focus {
                outline: none;
            }
        }
    }

    .buttons {
        position: absolute;
        width: 50%;
        height: 80px;
        top: 85%;
        left: 28%;

        .start, .reset, .languageBtn {
            margin-right: 30px;
            border: none;
            border-radius: 15px;
            width: 150px;
            height: 50px;
            background-color: $blue;
            color: white;
            font-size: $s2;
            font-family: $f1;
            transition: opacity 0.1s;
            transition: box-shadow 0.3s;

            &:hover {
                box-shadow: 10px 5px 10px 10px rgba(255, 255, 255, 0.2);
            }

            &:active  {
                opacity: 0.8;
            }
        }
    }

    .language {
        display: none;
        width: 50%;
        height: 30%;
        position: absolute;
        left: 25%;
        top: 30%;

        &__header {
            background: $blue;
            width: 100%;
            height: 20%;
            border-radius: 15px 15px 0 0;

            h2 {
                position: absolute;
                left: 50%;
                transform: translate(-50%);
                color: white;
                font-family: $f2;
                font-size: $s3;
                top: -3%;
            }

            .close {
                position: absolute;
                font-size: $s3;
                left: 95%;
                top: -8%;
                color: red;
                transition: 0.2s;

                &:hover {
                    cursor: pointer;
                    color: rgb(200, 0, 0);
                }
            }
        }

        &__body {
            position: relative;
            width: 100%;
            height: 80%;
            background-color: $lightblue;
            border-radius: 0 0 15px 15px;

            .english, .polish, .extreme {
                position: absolute;
                width: 40%;
                height: 20%;
                background-color: $verylightblue;
                border: none;
                left: 50%;
                transform: translate(-50%);
                color: $white;
                font-size: $s2;
                font-family: $f2;
                transition: 0.2s;

                &:hover {
                    box-shadow: 5px 5px 2px rgba(255, 255, 255, 0.1);
                }

                &:active {
                    opacity: 0.7;
                }
            }

            .english {
                top: 10%;
            }

            .polish {
                top: 40%;
            }

            .extreme {
                top: 70%;
            }
        }
    }

    .submit {
        display: none;
        width: 50%;
        height: 30%;
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%);

        &__header {
            width: 100%;
            height: 20%;
            background-color: $blue;
            display: flex;
            align-items:center;
            justify-content: center;
            border-radius: 15px 15px 0 0;

            h2 {
                text-align: center;
                margin: 0;
                font-family: $f2;
                color: white;
                font-size: $s3;
                color: white;
            }
        }

        &__body {
            width: 100%;
            height: 80%;
            background-color: $lightblue;
            border-radius: 0 0 15px 15px;

            p {
                font-size: $s2;
                color: white;
                margin: 0 0 20px 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .reset {
                position: absolute;
                left: 50%;
                transform: translate(-50%);
                margin-right: 30px;
                border: none;
                border-radius: 15px;
                width: 150px;
                height: 50px;
                background-color: $blue;
                color: white;
                font-size: $s1;
                font-family: $f1;
                transition: opacity 0.1s;
                transition: box-shadow 0.3s;
    
                &:hover {
                    box-shadow: 10px 5px 10px 10px rgba(255, 255, 255, 0.2);
                }
    
                &:active  {
                    opacity: 0.8;
                }
            }

            .submit__wpmResult {
                padding-top: 5px;
            }
        }
    }
} */

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    transition: 0.2s;
    font-family: $f1;
}

#container {
    width: 100vw;
    background-color: $verylightblue;
    height: 100vh;

    #banner {
        width: 100%;
        background-color: $lightblue;
        height: 7.5%;
        display: flex;

        h1 {
            width: 50%;
            display: inline-block;
            font-size: $s3;
            display: flex;
            align-items: center;
            margin-left: 2%;
            color: white;
            font-family: $f1;
            letter-spacing: 5px;

            &:hover {
                cursor: pointer;
            }
        }

        #details {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                display: inline-block;
                margin: 0 10px 0 10px;
                color: white;
                font-size: $s2;
            }
        }
    }

    #wrapper {
        width: 80%;
        margin: 0 auto;
        padding-top: 10%;
        position: relative;

        #timer {
            text-align: center;
            font-size: $s2;
            color: white;
        }

        #randomWords {
            width: 90%;
            margin: 0 auto;
            height: 320px;
            padding: 10px;
            border-radius: 10px;
            border: 2px solid $lightblue;
            background-color: white;
            transition: 0;

            &__words {
                font-size: $s1;
            }
        }

        #wordsInput {
            width: 90%;
            margin: 0 auto;
            border-radius: 10px;
            background-color: white;
            margin-top: 10px;

            &__field {
                width: 100%;
                border: none;
                padding: 5px 0 5px 5px;
                background-color: transparent;
                outline: none;
                color: black;
                font-size: $s1;
            }
        }

        #buttons {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 15px;

            .btn {
                padding: 5px;
                width: 25%;
                margin: 1%;
                color: white;
                background-color: $blue;
                border: none;
                border-radius: 10px;

                &:active {
                    opacity: 0.5;
                }
            }
        }
    }

    #language {
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        height: 40%;

        &__header {
            background-color: $blue;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            border-radius: 10px 10px 0 0;
            width: 100%;
            height: 15%;

            h2 {
                color: white;    
            }

            p {
                position: absolute;
                right: 2%;
                top: 2%;
                margin: 0;
                color: red;
                font-size: $s2;
            }
        }

        &__body {
            width: 100%;
            height: 85%;
            background-color: $lightblue;
            border-radius: 0 0 10px 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            .languageBtn {
                width: 80%;
                height: 20%;
                background-color: $verylightblue;
                border: none;
                border-radius: 10px;
                color: white;
                font-family: $f1;
                font-size: $s2;
                transition: 0.3s;

                &:active {
                    opacity: 0.6;
                }
            }
        }
    }

    #submit {
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        height: 40%;

        &__header {
            background-color: $blue;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            border-radius: 10px 10px 0 0;
            width: 100%;
            height: 15%;

            h2 {
                color: white;    
            }
        }

        &__body {
            background-color: $lightblue;
            width: 100%;
            height: 85%;
            padding-top: 5%;
            border-radius: 0 0 10px 10px;

            p {
                margin: 0;
                color: white;
                font-size: $s2;
                text-align: center;
            }

            #resetBtn {
                width: 50%;
                height: 15%;
                margin-top: 10%;
                margin-left: 25%;
                margin-right: 25%;
                color: white;
                border: none;
                border-radius: 10px;
                background-color: $verylightblue;
                transition: 0.3s;

                &:active {
                    opacity: 0.6;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    #container {
        #banner {
            display: flex;
    
            h1 {
                font-size: $s4;
                margin-left: 5%;
            }
    
            #details {
                p {
                    margin: 0 15px 0 15px;
                    font-size: $s3;
                }
            }
        }
    
        #wrapper {
            #timer {
                font-size: $s3;
            }
    
            #randomWords {
                height: 350px;
                padding: 15px;
    
                &__words {
                    font-size: $s2;
                }
            }
    
            #wordsInput {
                &__field {
                    width: 100%;
                    padding: 10px 0 10px 10px;
                    font-size: $s2;
                }
            }
    
            #buttons {
                margin-top: 20px;
    
                .btn {
                    padding: 10px;
                    font-size: $s2;
                }
            }
        }
    
        #language {
            &__header {
                height: 20%;
                
                h2 {
                    font-size: $s3;
                }

                p {
                    font-size: $s3;
                }
            }
    
            &__body {
                height: 80%;
    
                .languageBtn {
                    font-size: $s2;
                }
            }
        }
    
        #submit {
             &__header {
                height: 20%;
    
                h2 {
                    color: white;
                    font-size: $s3;    
                }
            }
    
            &__body {
                height: 80%;
    
                #resetBtn {
                    width: 60%;
                    margin-left: 20%;
                    margin-right: 20%;
                    font-size: $s2;
    
                    &:active {
                        opacity: 0.6;
                    }
                }
            }
        }
    }  
}

@media only screen and (min-width: 768px) {
    #container {
        #banner {
            display: flex;
    
            h1 {
                font-size: $s4;
                margin-left: 5%;
            }
    
            #details {
                p {
                    margin: 0 15px 0 15px;
                    font-size: $s3;
                }
            }
        }
    
        #wrapper {
            #timer {
                font-size: $s3;
            }
    
            #randomWords {
                height: 350px;
                padding: 15px;
    
                &__words {
                    font-size: $s2;
                }
            }
    
            #wordsInput {
                &__field {
                    width: 100%;
                    padding: 10px 0 10px 10px;
                    font-size: $s2;
                }
            }
    
            #buttons {
                margin-top: 20px;
    
                .btn {
                    padding: 10px;
                    font-size: $s2;
                }
            }
        }
    
        #language {
            &__header {
                height: 20%;
                
                h2 {
                    font-size: $s3;
                }

                p {
                    font-size: $s3;
                }
            }
    
            &__body {
                height: 80%;
    
                .languageBtn {
                    font-size: $s2;
                }
            }
        }
    
        #submit {
             &__header {
                height: 20%;
    
                h2 {
                    color: white;
                    font-size: $s3;    
                }
            }
    
            &__body {
                height: 80%;
    
                #resetBtn {
                    width: 60%;
                    margin-left: 20%;
                    margin-right: 20%;
                    font-size: $s2;
    
                    &:active {
                        opacity: 0.6;
                    }
                }
            }
        }
    }  
}

@media only screen and (min-width: 1000px) {
    #container {
        #banner {
            height: 10%;
            
            h1 {
                font-size: $s5;
                letter-spacing: 8px;
                margin-left: 5%;
            }
    
            #details {
                p {
                    margin: 0 15px 0 15px;
                    font-size: $s4;
                }
            }
        }
    
        #wrapper {
            padding-top: 5%;

            #timer {
                font-size: $s4;
            }
    
            #randomWords {
                height: 350px;
                padding: 15px;
    
                &__words {
                    font-size: $s3;
                }
            }
    
            #wordsInput {
                &__field {
                    padding: 20px 0 20px 20px;
                    font-size: $s3;
                }
            }
    
            #buttons {
                margin-top: 20px;
    
                .btn {
                    padding: 15px;
                    font-size: $s3;
                    transition: 0.3s;

                    &:hover {
                        box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.3);
                    }
                }
            }
        }
    
        #language {
            &__header {
                height: 20%;
                
                h2 {
                    font-size: $s4;
                }

                p {
                    font-size: $s4;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
    
            &__body {
                height: 80%;
    
                .languageBtn {
                    &:hover {
                        box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.2);
                    }
                }
            }
        }
    
        #submit {
             &__header {
                height: 20%;
    
                h2 {
                    color: white;
                    font-size: $s3;    
                }
            }
    
            &__body {
                padding-top: 2%;
                height: 80%;
                
                p {
                    font-size: $s3;
                }

                #resetBtn {
                    width: 60%;
                    height: 45px;
                    margin-left: 20%;
                    margin-right: 20%;
                    font-size: $s3;
                    margin-top: 2%;
                    padding: 5px;

                    &:hover {
                        box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.2);
                    }

                    &:active {
                        opacity: 0.6;
                    }
                }
            }
        }
    }  
}
