$white: #fff;
$lightgray: #eeeeee;
$gray: #cfcfcf;
$mause-gray: #b1b1b1;
$black: #000000;
$very-dark: #242424;
$dark: #393939;
$graphite: #474545;
$soft-dark: #8d8d8d;
$dark-purple: #14101e;
$darker-purple: #422e85;
$purple: #6244c5;
$light-purple: #7d5de4;
$lighter-purple: #b7a7eb;
$very-light-purple: #f2eeff;
$gold: #ffc524;
$light-gold: #ffd665;
$very-light-gold: #ffe6a1;